<ol>
    <div class="row">
        <div class="card card-body">
           {{id}}. {{ burger_name }}
        </div>
        <button type="button" class="btn btn-outline-dark change-state mt-3 ml-4" data-id="{{id}}" data-devour="{{eaten}}">
            {{#if eaten}}Devour it!{{else}}Reorder it!{{/if}}
        </button>
    </div>
</ol>